AZ_SUBSCRIPTION_ID=00000000-aaaa-bbbb-cccc-dddddddddddd
AZ_LOCATION=WestEurope
AZ_PREFIX=slug
AZ_APP=dockoon
AZ_ENVIRONMENT=test
AZ_OWNER=dockoon@yourdomain.dev
AZ_DNS_ZONE_NAME=yourdomain.dev
AZ_DNS_ZONE_RG_NAME=slug-infra-dns-rg
AZ_KEY_VAULT_NAME=keyvault-acmebot-kv
AZ_KEY_VAULT_RG_NAME=keyvault-acmebot-rg
AZ_KEY_VAULT_CERT_NAME=wildcard-yourdomain-dev
