export AZ_SUBSCRIPTION_ID=00000000-aaaa-bbbb-cccc-dddddddddddd
export AZ_LOCATION=WestEurope
export AZ_PREFIX=slug
export AZ_APP=dockoon
export AZ_ENVIRONMENT=test
export AZ_OWNER=dockoon@yourdomain.dev
export AZ_DNS_ZONE_NAME=yourdomain.dev
export AZ_DNS_ZONE_RG_NAME=slug-infra-dns-rg
export AZ_KEY_VAULT_NAME=keyvault-acmebot-kv
export AZ_KEY_VAULT_RG_NAME=keyvault-acmebot-rg
export AZ_KEY_VAULT_CERT_NAME=wildcard-yourdomain-dev
