# logs
*.log

# local caches
.terraform/*

# local states
*.tfstate
*.tfstate.*

# terraform plan outputs
*.tfplan

# tfvars
environments/
!environments/.gitkeep
!environments/*.example.tfvars

# module secrets if any
secrets/
!secrets/.gitkeep

# private
*.private.*
