# logs
*.log

# local caches
.terraform/*

# local states
*.tfstate
*.tfstate.*

# terraform plan outputs
*.tfplan

# terraform backend vars
backend/*.backend

# tfvars
environments/
!environments/*.example.tfvars

# module secrets if any
secrets/
!secrets/.gitkeep

# certbot
letsencrypt/
!letsencrypt/.gitkeep

# private
*.private.*
